html {
    text-align: center;
}

#file {
    margin-top: 30px;
    margin-bottom: 15px;
}

#show {
    margin-top: 15px;
    margin-bottom: 15px;
}

#out {
    font-size: 56pt;
    text-decoration: solid;
}